<!doctype html>
<html>
  <head>
    <script src="/static/lib/jquery.js"></script>
    <script src="/static/lib/lodash.js"></script>
    <script src="/static/lib/backbone.js"></script>
    <script src="/static/lib/backbone.marionette.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/static/lib/codemirror.css">
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <title>Multicode</title>

    <div id="menu" class="pure-menu pure-menu-horizontal" style="background-color:#191818;padding:10px;">
      <a class="pure-menu-heading" href="/"><strong style="color:#D8D8D8">MULTICODE</strong></a>
      <ul class="pure-menu-list" style="float:right">
	{% if 'username' not in session %}
	<li class="pure-menu-item"><a class="pure-menu-link" href="/login">Login</a></li>
	<li class="pure-menu-item end"><a class="pure-menu-link" href="/register">Register</a></li>
	{% endif %}
	{% if session['username'] %}
	<li class="pure-menu-item"><a class="pure-menu-link" href="#" style="margin-right:10px;">{{session['username']}}</a></li>
	<li class="pure-menu-item end"><a class="pure-menu-link" href="/logout">Logout</a></li>
	{% endif %}
      </ul>
    </div>
    <br>
    
  </head>
  <body>
    <div id="body">
    {% block body %}
    {% endblock %}
    </div>

    <!--div id="footer" class="footer">
      <div class="legal pure-g">
	<div class="pure-u-1 u-sm-1-2">
	  <p class="legal-license">
	    <div align="right">
	      Created by . SoftDev period 5
	    </div>
	  </p>
	</div>
      </div>
    </div-->

    <div id="flash-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="flash">
	{% for message in messages %}
	<p style="margin-left: 20px;"> {{ message }}</p>
	{% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
  </body>
</html>
