{% extends "base.html" %}
{% block body %}

<script type="text/template" id="project-template">
  <a href="/editor/<%- user %>/<%- name %>"><%- user %>: <%- name %></a>
</script>

<div class="container">
	<div class="jumbotron">
  <div id="new-container">
    <button id="new" class="button-big pure-button">New Project</button><br><br>
  </div>
  <div id="main">
  </div>
</div>
</div>

<script> var username = '{{ username }}'; </script>
<script src="/static/homepage.js"></script>
{% endblock body %}
