{% extends "base.html" %}
{% block body %}

<script type="text/template" id="edit-template">
  <select id = "selector">
	  	{% for item in file_names %}
	 	 	  <option value = "um">{{item}}</option>
	  	{% endfor %}
  </select>
	
  <h2><%= name %></h2>
  <button class="pure-button" id="read">Read</button>
  <button class="pure-button"id="edit">Edit</button><br>
  <textarea id="txt-box" rows="30" cols="65"><%= content %></textarea>
</script>
<script type="text/template" id="view-template">
  <div id="content" height="98%"><%= content %></div>
  <h1> DISPLAY </h1>
</script>

<div class="pure-g">
  <div class="pure-u-1-12"></div>
  <div class="pure-u-5-12">
    <h1>Multicode</h1>
    <div id="first"></div>
    <div id="main">
      This is the first region
    </div>
  </div>
  <div class="pure-u-5-12"><div id="second" style="margin-top: 50px;"></div></div>
  </div>

<script src="static/app.js"></script>
{% endblock body %}
