{% extends "base.html" %}
{% block body %}
<form method="POST" class="pure-form pure-form-aligned">
  <div class="pure-control-group" style="margin:25px;margin-left:75px;">
    <legend>Create your first file</legend>	
      <label for="filename">File Name:</label>
      <input type="text" name="filename"><br>
  </div>
    <div class="pure-controls">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="submit">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="cancel">
    </div>
</form>
{% endblock %}
