{% extends "base.html" %}
{% block body %}

<script type="text/template" id="edit-template">
  <h2><%= name %></h2>
  <!--button id="read">Read</button>
  <button id="edit">Edit</button><br-->
  <textarea id="textarea"></textarea>
</script>

<script type="text/template" id="view-template">
  <div id="content" height="98%"><%= content %></div>
</script>

<!--div class="pure-menu"><a href="project.html" id="" title="project">project</a>
  <span class="pure-menu-heading">MENU</span>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="/p-->
<style>
.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}
</style>

<div class="pure-g">
	<div class="pure-u-1-12">
		<div class="pure-menu custom-restricted-width">
		    <span class="pure-menu-heading">Files</span>
		</div>
	    <div id="first"></div>
		<button id = 'add_file'> ADD FILE </button>
	</div>
  <div class="pure-u-5-12" style="padding-left:50px;padding-right:10px;">
    <h1 id="top"></h1>
    <div id="main"></div>
    <button id="sharing" class="pure-button">Sharing</button>
  </div>
  <div class="pure-u-5-12"><div id="second" style="padding-top: 50px;padding-left:10px;"></div></div>
</div>

<script>
  var p_user = '{{ p_user }}';
  var project = '{{ project }}';
  var filename = '{{ name }}';
  var username = '{{ username }}';
</script>
<script src="/static/lib/codemirror.js"></script>
<script src="/static/mode/xml/xml.js"></script>
<script src="/static/mode/htmlmixed/htmlmixed.js"></script>
<!--script src="/static/mode/javascript/javascript.js"></script-->
<script src="/static/app.js"></script>

{% endblock body %}
