{% extends 'base.html' %}
{% block body %}
<form method="POST" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>Register for an account</legend>
    <div class="pure-control-group">
      <label for="username">Make a Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="pure-control-group">
      <label for="password">Make a Password</label>
      <input type="password" name="password" placeholder="Password"><br>
    </div>
    <div class="pure-control-group">
      <label for="first">First Name</label>
      <input type="text" name="first" placeholder="First Name"><br>
    </div>
    <div class="pure-control-group">
      <label for="last">Last Name</label>
      <input type="text" name="last" placeholder="Last Name"><br>
    </div>
    <div class="pure-controls">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="register">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="cancel">
    </div>
  </fieldset>
</form>
{% endblock %}
